.container {
  padding: 0.8rem 1rem;
  border-radius: 1.3rem;
  cursor: pointer;
  text-align: center;
  transition: all ease 200ms;
  border: none;
  position: relative;
}

.filled {
  color: white;
  background: var(--main-gradient);
}

.bordered {
  color: black;
  position: relative;
  padding: 0.5rem 0.8rem !important;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent;
  border-radius: 1.3rem;
  background-clip: padding-box;
}
.bordered::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: var(--main-gradient);
  content: '';
  z-index: -1;
  border-radius: 1.3rem;
}

.bold {
  font-weight: bold;
}

.large {
  min-width: 12rem;
}
