.container {
  box-shadow: var(--box-shadow);
  position: relative;
  border: var(--border) solid transparent;
  border-radius: var(--small-border-radius);
  background-clip: padding-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--border) solid transparent;
  background-clip: border-box;
}

.container input {
  border: none;
  text-align: left;
  outline: none;
  border-radius: var(--small-border-radius);
  width: 20rem;
  padding: 1rem;
}

.container:focus-within::after {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: var(--main-gradient);
  z-index: -1;
  border-radius: var(--big-border-radius);
}
